# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Archives & Temporary files
*.zip
*.tar.gz
*.tar
*.log
temp_report/
ResultFinal/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
